@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This website is build in MVC5, application based web. This website stores all the information about the resturants. 
    That is if some one want information about any resturant, this area will provide information about the resturant. 
    It will be easy for them to access these informations. It make it easy for all.</p>
