@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    KOHAT UNIVERSITY (KUST)<br />
    KUST, 2600<br />
    <abbr title="Phone">Phone:</abbr>
    0925-564536
</address>

<address>
    <strong>Support:</strong>   <a href="kust@edu.pk">kust@edu.pk</a><br />
    <strong>Marketing:</strong> <a href="muhmmadbilal6305@gmail.com">muhmmadbilal2028@kust.pk</a>
</address>